<form action="/create_routine_product_from_routine" method="post">

  <input type="hidden" name="routine_id" value="<%= @routine.id %>">

  <div class="form-group">
    <label for="product_id">
      Product
    </label>

    <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :name, @routine_product.product_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="use_frequency_id">
      Use frequency
    </label>

    <%= select_tag(:use_frequency_id, options_from_collection_for_select(Usefrequency.all, :id, :description, @routine_product.use_frequency_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="note">
      Note
    </label>

    <textarea id="note" name="note" class="form-control" rows="3"><%= @routine_product.note %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create routine product
  </button>
</form>
