<h1>
  Add a new routine
</h1>


<hr>

<form action="/create_routine" method="post">

  <div class="form-group">
    <label for="customer_id">
      Customer
    </label>

    <%= select_tag(:customer_id, options_from_collection_for_select(Customer.all, :id, :email, @routine.customer_id), :class => "form-control") %>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="active">
    <input id="active" class="form-check-input" name="active" type="checkbox">
    <label for="active" class="form-check-label">
      Active
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create routine
  </button>
</form>

<hr>

<a href="/routines">
  Go back
</a>
