<h1>
  Edit usefrequency #<%= @usefrequency.id %>
</h1>

<hr>

<form action="/update_usefrequency/<%= @usefrequency.id %>" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @usefrequency.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update usefrequency
  </button>
</form>

<hr>

<a href="/usefrequencies">
  Go back
</a>
