<form action="/create_product_concern_from_product" method="post">

  <div class="form-group">
    <label for="concern_id">
      Concern
    </label>

    <%= select_tag(:concern_id, options_from_collection_for_select(Concern.all, :id, :name, @product_concern.concern_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="product_id" value="<%= @product.id %>">

  <div class="form-group">
    <label for="good_for">
      Good for
    </label>
    <input id="good_for" class="form-check-input" name="good_for" type="checkbox" <%= "checked" if @product_concern.good_for %>>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create product concern
  </button>
</form>
