<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Customer Routines with this Product

  </div>

  <ul class="list-group list-group-flush">
    <% @product.routine_products.each do |routine_product| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/routines/<%= routine_product.routine_id %>">
          <%= routine_product.customername %> (Routine <%= routine_product.routine_id %>)
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="product_routine_products_new_form">
        <%= render partial: "product_templates/product_routine_products_new_form" %>
      </div>
    </div>

  </ul>
</div>
