<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Concerns this Product targets

    <a data-toggle="collapse" href="#product_product_concerns_new_form">
      Add a Concern
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @product.product_concerns.each do |product_concern| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/concerns/<%= product_concern.concern_id %>">
          <%= product_concern.concern_name %>
        </a>

        <a href="/delete_product_concern_from_product/<%= product_concern.id %>">
          Remove
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="product_product_concerns_new_form">
        <%= render partial: "product_templates/product_product_concerns_new_form" %>
      </div>
    </div>

  </ul>
</div>
