<form action="/create_product_concern_from_concern" method="post">

  <input type="hidden" name="concern_id" value="<%= @concern.id %>">

  <div class="form-group">
    <label for="product_id">
      Product
    </label>

    <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :name, @product_concern.product_id), :class => "form-control") %>
  </div>

  <!--<div class="form-group">-->
  <!--  <label for="good_for">-->
  <!--    Good for-->
  <!--  </label>-->
  <!--  <input id="good_for" class="form-check-input" name="good_for" type="checkbox" <%= "checked" if @product_concern.good_for %>>-->
  <!--</div>-->

  <button class="btn btn-block btn-outline-secondary">
    Create Link
  </button>
</form>
