<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Customers with this Concern


  </div>

  <ul class="list-group list-group-flush">
    <% @concern.customer_concerns.each do |customer_concern| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">

        <a href="/customers/<%= customer_concern.customer.id %>">
          <%= customer_concern.customer.firstname %> <%= customer_concern.customer.lastname %>
        </a>

 

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="concern_customer_concerns_new_form">
        <%= render partial: "concern_templates/concern_customer_concerns_new_form" %>
      </div>
    </div>

  </ul>
</div>
