<form action="/create_customer_concern_from_concern" method="post">

  <input type="hidden" name="concern_id" value="<%= @concern.id %>">

  <div class="form-group">
    <label for="customer_id">
      Customer
    </label>

    <%= select_tag(:customer_id, options_from_collection_for_select(Customer.all, :id, :email, @customer_concern.customer_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create customer concern
  </button>
</form>
