<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Customer Concerns

    <a data-toggle="collapse" href="#concern_customer_concerns_new_form">
      Add customer concern
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @concern.customer_concerns.each do |customer_concern| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/customer_concerns/<%= customer_concern.id %>">
          <%= customer_concern.concern_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_customer_concern_from_concern/<%= customer_concern.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="concern_customer_concerns_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
