<h1>
  Add a new routine product
</h1>


<hr>

<form action="/create_routine_product" method="post">

  <div class="form-group">
    <label for="routine_id">
      Routine
    </label>

    <%= select_tag(:routine_id, options_from_collection_for_select(Routine.all, :id, :customer_id, @routine_product.routine_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="product_id">
      Product
    </label>

    <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :name, @routine_product.product_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="use_frequency_id">
      Use frequency
    </label>

    <%= select_tag(:use_frequency_id, options_from_collection_for_select(Usefrequency.all, :id, :description, @routine_product.use_frequency_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="note">
      Note
    </label>

    <textarea id="note" name="note" class="form-control" rows="3"></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create routine product
  </button>
</form>

<hr>

<a href="/routine_products">
  Go back
</a>
