<form action="/create_customer_concern_from_customer" method="post">

  <div class="form-group">
    <label for="concern_id">
      Concern
    </label>

    <%= select_tag(:concern_id, options_from_collection_for_select(Concern.all, :id, :name, @customer_concern.concern_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="customer_id" value="<%= @customer.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create customer concern
  </button>
</form>
