<!-- Form customer_concern start -->
<form action="/create_customer_concern_from_customer" method="post">
<!-- Form customer_concern end -->

  <!-- Label and input for concern_id start -->
  <div class="form-group">
    <label for="concern_id">
      Concern
    </label>

    <!-- Input for concern_id start -->
    <%= select_tag(:concern_id, options_from_collection_for_select(Concern.all, :id, :name, @customer_concern.concern_id), :class => "form-control") %>
    <!-- Input for concern_id end -->
  </div>
  <!-- Label and input for concern_id end -->

  <!-- Label and input for customer_id start -->
  <!-- Input for customer_id start -->
  <input type="hidden" name="customer_id" value="<%= @customer.id %>">
  <!-- Input for customer_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create customer concern
  </button>
</form>
