<form action="/create_routine_from_customer" method="post">

  <input type="hidden" name="customer_id" value="<%= @customer.id %>">

  <div class="form-group">
   
    
     <input id="active"  name="active" type="checkbox" checked>
     <label for="active">
      Make this routine active
    </label>
    
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create routine
  </button>
</form>
