<form action="/create_routine_from_customer" method="post">

  <input type="hidden" name="customer_id" value="<%= @customer.id %>">

  <div class="form-group">
    <label for="active">
      Active
    </label>
    <input id="active" class="form-check-input" name="active" type="checkbox" <%= "checked" if @routine.active %>>
  </div>

  <input type="hidden" name="createdby_id" value="<%= current_coach.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create routine
  </button>
</form>
