<h1>
  Add a new customer
</h1>


<hr>

<form action="/create_customer" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <textarea id="email" name="email" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="firstname">
      Firstname
    </label>

    <input type="text" id="firstname" name="firstname" class="form-control">
  </div>

  <div class="form-group">
    <label for="lastname">
      Lastname
    </label>

    <input type="text" id="lastname" name="lastname" class="form-control">
  </div>

  <div class="form-group">
    <label for="profile_photo">
      Profile photo
    </label>

    <input type="file" id="profile_photo" name="profile_photo" class="form-control">
  </div>

  <div class="form-group">
    <label for="birthday">
      Birthday
    </label>

    <input type="text" id="birthday" name="birthday" class="form-control">
  </div>

  <div class="form-group">
    <label for="address_street">
      Address street
    </label>

    <input type="text" id="address_street" name="address_street" class="form-control">
  </div>

  <div class="form-group">
    <label for="address_city">
      Address city
    </label>

    <input type="text" id="address_city" name="address_city" class="form-control">
  </div>

  <div class="form-group">
    <label for="address_state">
      Address state
    </label>

    <input type="text" id="address_state" name="address_state" class="form-control">
  </div>

  <div class="form-group">
    <label for="address_zipcode">
      Address zipcode
    </label>

    <input type="text" id="address_zipcode" name="address_zipcode" class="form-control">
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="optin_email">
    <input id="optin_email" class="form-check-input" name="optin_email" type="checkbox">
    <label for="optin_email" class="form-check-label">
      Optin email
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="optin_texts">
    <input id="optin_texts" class="form-check-input" name="optin_texts" type="checkbox">
    <label for="optin_texts" class="form-check-label">
      Optin texts
    </label>
  </div>

  <div class="form-group">
    <label for="phone">
      Phone
    </label>

    <input type="text" id="phone" name="phone" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create customer
  </button>
</form>

<hr>

<a href="/customers">
  Go back
</a>
